<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">

	<!-- 插入用户数据 -->
	<!-- Integer insert(User user) -->
	<insert id="insert"
		parameterType="cn.tedu.store.entity.User"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO t_user (
			username,
			password,
			email,
			phone,
			gender,
			avatar,
			salt,
			status,
			is_delete,
			created_user,
			created_time,
			modified_user,
			modified_time
		) VALUES (
			#{username},
			#{password},
			#{email},
			#{phone},
			#{gender},
			#{avatar},
			#{salt},
			#{status},
			#{isDelete},
			#{createdUser},
			#{createdTime},
			#{modifiedUser},
			#{modifiedTime}
		)
	</insert>
	
	<!-- 根据用户名查询用户数据 -->
	<!-- User getUserByUsername(String username) -->
	<select id="getUserByUsername"
		resultType="cn.tedu.store.entity.User">
		SELECT 
			id,
			username,
			password,
			email,
			phone,
			gender,
			avatar,
			salt,
			status,
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			username=#{username}
	</select>
	
	<!-- 根据用户id查询用户数据 -->
	<!-- User getUserById(Integer uid) -->
	<select id="getUserById"
		resultType="cn.tedu.store.entity.User">
		SELECT 
			id,
			username,
			password,
			email,
			phone,
			gender,
			avatar,
			salt,
			status,
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			id=#{uid}
	</select>
	
	<!-- 修改密码 -->
	<!-- Integer changePassword(
		    @Param("uid") Integer uid, 
		    @Param("password") String password) -->
	<update id="changePassword">
		UPDATE 
			t_user 
		SET 
			password=#{password}
		WHERE 
			id=#{uid}
	</update>
	
	<!-- 修改个人信息，包括：用户名、性别、头像、电话、邮箱 -->
	<!-- Integer changeInfo(User user) -->
	<update id="changeInfo">
		UPDATE 
			t_user 
		SET 
			<if test="username != null">
			username=#{username},
			</if>
			
			<if test="gender != null">
			gender=#{gender},
			</if>
			
			<if test="avatar != null">
			avatar=#{avatar},
			</if>
			
			<if test="phone != null">
			phone=#{phone},
			</if>
			
			<if test="email != null">
			email=#{email},
			</if>
			
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE 
			id=#{id}
	</update>

</mapper>








